.cards_icon {
  background: {
    image: linear-gradient(
        rgba(255, 255, 255, 0.5),
        rgba(255, 255, 255, 0.8),
        rgba(255, 255, 255, 0.5)
      ),
      url('../../public/images/_i_icon_14047_icon_140470_512.png');
    repeat: no-repeat;
    position: center;
    size: 80%;
  }

  width: 260px;
  height: 260px;
  margin-bottom: 1rem;
}

/* SVG */
.shadow_container {
  display: flex-row;
  justify-content: center;
  align-items: center;
  margin: 0.1rem;
  filter: drop-shadow(5px 5px 5px #505050);
}

/* Chip Button */
.chip {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.3rem;
}

$color: #ffffff;

.chip_shiny {
  background-color: $color;
  display: block;
  position: relative;
  cursor: pointer;
  border-radius: 100%;
  filter: drop-shadow(2px 2px 2px #505050);
  transform: translateZ(0);
  overflow: hidden;

  &.shiny {
    background: {
      color: $color;
      image: linear-gradient(-45deg, $color 50%, darken($color, 20%) 60%, $color 70%);
      size: 600% 100%;
    }
    animation: shine 20s infinite;
    animation: {
      delay: 0s;
      timing-function: linear;
    }
  }

  &:active {
    transform: translate(2px, 2px);
  }

  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
    transform: translate(-2px, -2px);
  }
}

@keyframes shine {
  0% {
    background-position-x: 400%;
  }
  50% {
    background-position-x: 0%;
  }
  100% {
    background-position-x: -400%;
  }
}

/* Modal Window */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Button */
@mixin buttons {
  color: #ffffff;
  font-weight: bold;
  padding: {
    top: 0.6rem;
    bottom: 0.6rem;
  }
  border-radius: 9999px;

  &:hover {
    filter: brightness(1.5);
  }

  &:active {
    transform: translate(2px, 2px);
  }

  &:disabled {
    filter: brightness(0.5);
    cursor: not-allowed;
    transform: translate(-2px, -2px);
  }
}

.green_btn {
  @include buttons();
  background-color: darkgreen;
  width: 100%;
}

.red_btn {
  @include buttons();
  display: flex;
  justify-content: center;
  background-color: darkred;
  width: 50%;
  margin-left: 4px;
}

.blue_btn {
  @include buttons();
  display: flex;
  justify-content: center;
  background-color: darkblue;
  width: 50%;
  margin-right: 4px;
}

/* Table */
.bj_table_bg {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background: {
    image: linear-gradient(rgba(0, 81, 34, 0.5), rgba(0, 81, 34, 0.5)),
      url('../../public/images/black-jack-table.svg');
    repeat: no-repeat;
    position: top 20% left 0%;
  }
  padding-top: 20px;
}

/* Card */
$card-width: 80px;
$card-height: 110px;
$card-rounded: 5px;
$card-font-size-sm: 0.8rem;
$card-font-size-lg: 2rem;
$card-padding: 5px;
$card-mark-position-left: 25px;
$card-mark-position-top: 35px;

.card {
  position: relative;
  width: $card-width;
  height: $card-height;

  /* カード裏面・表面の共通スタイル */
  .back,
  .front {
    position: absolute;
    transition: all 0.6s;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }

  /* カード表面のスタイル */
  .front {
    transform: perspective(400px) rotateY(-180deg);
  }

  /* ホバー時のカード裏面 */
  &:hover .back {
    transform: perspective(400px) rotateY(180deg);
  }

  /* ホバー時のカード表面 */
  &:hover .front {
    transform: perspective(400px) rotateY(0);
  }
}

.card_image {
  position: absolute;
  text-align: center;
  width: $card-width;
  height: $card-height;
  border-radius: $card-rounded;
  font-size: $card-font-size-lg;
  background-color: #fff;
  filter: drop-shadow(4px 4px 4px #0000004e);
}

/* カード表面のイメージ */
.front_image {
  text-align: center;
  & span {
    position: absolute;
    left: $card-padding;
    top: $card-padding;
    font-size: $card-font-size-sm;
    width: auto;
  }

  & div {
    position: absolute;
    left: $card-mark-position-left;
    top: $card-mark-position-top;
  }

  & span:last-child {
    position: absolute;
    left: auto;
    top: auto;
    right: $card-padding;
    bottom: $card-padding;
    transform: rotate(180deg);
  }
}

/* カード裏面のイメージ */
.back_pattern {
  position: absolute;
  left: $card-padding;
  top: $card-padding;
  background-color: rgb(104, 133, 238);
  width: $card-width - 10px;
  height: $card-height - 10px;
}
